.login {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		input {
			width: 200px;
			height: 30px;
			margin: 10px;
			border: 1px solid gray;
			border-radius: 10px;
			text-align: center;
		}

		button {
			width: 200px;
			height: 30px;
			border: none;
			background-color: purple;
			border-radius: 10px;
			margin-top: 10px;
			cursor: pointer;
			font-weight: bold;
			color: white;
		}

		span {
			color: red;
			margin-top: 10px;
			font-weight: bold;
		}
	}
}